<div class="jumbotron">
  <h1 class="display-4">Flight Right</h1>
  <img src="https://images.unsplash.com/photo-1512100356356-de1b84283e18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid">
  <p class="lead">Book your dream flight in over 100 destinations worldwide!</p>
  <hr class="my-4">
  <p>Your partner in luxury travel.</p>
</div>