<div class="jumbotron">
  <h1 class="display-4">Flight Right</h1>
  <%= image_tag "federico-respini-228910-unsplash", class: "img-fluid"%>
  <p class="lead">Book your dream flight in over 100 destinations worldwide!</p>
  <hr class="my-4">
  <p>Your partner in luxury travel.</p>
</div>