<h1>Flight Search Results</h1>

<h4>Search results:</h4>
<% if @flights.any? %>
  <ul>
    <% @flights.each do |flight|%>
      <% if !flight.nil? %>
        <li><%= flight.flight_code%></li>
      <% end %>
    <% end %>
  </ul>
<% end %>